body{
    background-image: url("../img/windows.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#tema{
    color: #e0c033;
    text-transform: uppercase;
    text-align: center;
}

ul{
    margin: auto;

}

#inicio{

    width: 50%;
    float: right;
}